/* dark red: #9e0b0f
light red: #b8101f
*/
html {
  height: 100%;
}

ul {
  padding-left: 1em;
}

@font-face {
  font-family: 'Freshman';
  src: url('../font/freshman.ttf');
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.panel-title {
  font-weight: bolder;
  font-size: inherit;
}

#mainInfoWrapper {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.5em; /*I dont like to use vw because it messes up fonts on phones*/
  font-family: 'Ubuntu', sans-serif;
}

.megapanel {
  padding-left: 15px;
  padding-right: 15px;
}

#mHeader {
  font-family: 'Freshman', sans-serif;
}

#mHeader:hover {
  color: #9e0b0f;
}

#fetchIssue {
  display: none;
}

#schedule-body{
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: stretch;
}

#schedule-percentBar{
  width: 100%;
  height: 20px;
}

.blockContainer{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  border-right: solid #f2dede thin;
  border-bottom: solid #f2dede thin;
}

.blockContainer:nth-child(4)::before{
  content: "\f0f5";
  margin-right: .3em;
  font-family: FontAwesome;
}

.blockContainer:nth-child(6) {
  border-right: none;
}

.fadeHidden {
  visibility: hidden;
  opacity: 0;
  margin: 0px;
  height: 0;
  transition: visibility 0s .25s, opacity .25s linear;
  /*transition: all .25s ease .25s;*/
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

/*changes font on phones */
@media only screen and (max-width: 500px) {
  .progress-bar{
    font-size: 1em;
  }

  .blockContainer{
    font-size: .8em;
    padding: 8px 10px 8px 10px;
  }

  #mainInfoWrapper{
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1900px) {
  .progress-bar{
    font-size: .7em;
    padding-top: .3em;
  }

  #mainInfoWrapper{
    font-size: 3em;
  }

  #schedule-percentBar{
    width: 100%;
    height: 40px;
  }
}
