/* dark red: #9e0b0f
light red: #b8101f
*/
html {
  height: 100%;
}

@font-face {
  font-family: 'Freshman';
  src: url('../font/freshman.ttf');
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.panel-title {
  font-weight: bolder;
  font-size: inherit;
}

#mainInfoWrapper {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.8vw;
  font-family: 'Ubuntu', sans-serif;
}

#mHeader {
	font-family: 'Freshman', sans-serif;
}

#mHeader:hover {
  color: #9e0b0f;
}

#fetchIssue {
  display: none;
}

.fadeHidden {
  visibility: hidden;
  opacity: 0;
  margin: 0px;
  height: 0;
  transition: visibility 0s .25s, opacity .25s linear;
  /*transition: all .25s ease .25s;*/
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}
